    <div class="row" style="top:50px; position:relative; color:black;">
       <div class="" style="padding-top:30px;">
        <!--Card-->
        <div class="col-md-1 col-sm-1 col-xs-2"></div>
        <div class="mycardheight col-md-3 col-sm-3 col-xs-8" style="border:outset; background-color:white;">
            <!--Card image-->
                   <img ng-cloak ng-src="/assets/images/trainer/liorbg.jpg" style="width:100%; height:100%;" class="img-fluid" alt="">
            <!--/.Card image-->

            <!--Card content-->
                <!--Title-->
                <h4 class="card-title">מאמן ג'ודו - ליאור לנדסברג</h4>
                <!--Text-->
                <p>טלפון: 052-978-6668</p>
                <a href="http://ads.one.co.il/Images/Msites/Assoc/Olympic/singapur_2312.pdf" class="btn btn-primary">למידע נוסף</a>
        </div>
            <!--/.Card content-->
        </div>
   <div class="changemapmob col-md-7 col-md-offset-0 col-sm-7 col-sm-offset-0 col-xs-8 col-xs-offset-2" style="">
       <div style='overflow:hidden;width:100%;'><div id='gmap_canvas' style='border:outset; height: 481px; width: 100%;'><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript' src="/assets/javascripts/main.js"></script>
       <script type="text/javascript">setTimeout(init_map, 100);
                                      /*setTimeout(function() {window.scrollTo(0, 900)}, 100);*/</script>
        </div>
    </div>
</div>