    
    <div class="row" style="top:50px; position:relative; color:black;">
       <div class="" style="padding-top:30px;">
        <!--Card-->
        <div class="col-md-1 col-sm-1 col-xs-2"></div>
        <div class="col-md-3 col-sm-3 col-xs-8">
            <div class="demo-card-square mdl-card mdl-shadow--2dp" style="width:100%; z-index:0;">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">ליאור לנדסברג</h2>
  </div>
  <div class="mdl-card__supporting-text">
    מאמן בכיר, בעל נסיון של מעל 20 שנה כמאמן
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      View Updates
    </a><!-- Square card -->
  </div>
</div>
        </div>
            <!--/.Card content-->
        </div>
   <div class="changemapmob col-md-7 col-md-offset-0 col-sm-7 col-sm-offset-0 col-xs-8 col-xs-offset-2" style="">
       <div style='overflow:hidden;width:100%;'><div id='gmap_canvas' style='border:outset; height: 420px; width: 100%;'><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript' src="/assets/javascripts/main.js"></script>
       <script type="text/javascript">setTimeout(init_map, 100);
                                      /*setTimeout(function() {window.scrollTo(0, 900)}, 100);*/</script>
        </div>
    </div>
</div>