    <div class="row boom container">
        <!--Card-->
        <div class="card jumbotron col-md-4">

            <!--Card image-->
            <div class="view overlay hm-white-slight hm-zoom">
                <img src="/assets/images/trainer/liorbg.jpg" height="350px" class="img-fluid" alt="">
                <a href="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/10641053_905252729504135_8350888653104184685_n.jpg?oh=3d7f4ae1c318ab730ac6365cd2994bfc&oe=57D077F2">
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">מאמן ג'ודו - ליאור לנדסברג</h4>
                <!--Text-->
                <p class="card-text">מאמן ג'ודו בכיר, בעל נסיון וידע רב של המון שנים, בעל יכולת גדולה להחדרת משמעת</p>
                <p>טלפון: 052-978-6668</p>
                <a href="http://ads.one.co.il/Images/Msites/Assoc/Olympic/singapur_2312.pdf" class="btn btn-primary">למידע נוסף</a>
            </div>
            <a data-toggle="modal" data-target="#demoLightbox">Open Lightbox</a>
            <!--/.Card content-->
        </div>
        <div id="demoLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" >
	<div class='lightbox-content'>
		<img src="/assets/images/slogo.jpg">
		<div class="lightbox-caption"><p>Your caption here</p></div>
	</div>
</div>
   <div class="notcard col-md-4">
       <div style='overflow:hidden;height:650px;width:700px;'><div id='gmap_canvas' style='height:650px;width:700px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://buywebtrafficexperts.com">buy website traffic</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript' src="/assets/javascripts/main.js"></script>
       <script type="text/javascript">setTimeout(init_map, 100);
                                      setTimeout(function() {window.scrollTo(0, 900)}, 100);</script>
        </div>
    </div>


