<!DOCTYPE html>
<html lang="en" ng-app="judo">
  <head>
    <meta charset="utf-8">
    <title>Judo Lior</title>
    <script type="text/javascript" src="/assets/javascripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
  </head>
  <body>
    <div class="log">
       <img src="/assets/images/slogo.jpg" class="strech2" height="200px" width="100px">
        <img src="/assets/images/judologo.jpg" class="strech">
         
    </div>
    <div class="pic">
       
    </div>
    <hr>
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Cerulean</h1>
            <p class="lead">A calm blue sky</p>
          </div>
          <div class="col-md-7" id="viewit" ng-view>BOOM</div>
          <div class="col-lg-4 col-md-5 col-sm-6">
          </div>
        </div>
            <div class="row">
            <div class="col-md-9"></div>
              <div class="col-lg-3 col-md-3 col-sm-4">
                <div id="slists" class="list-group table-of-contents" dir="rtl">
                 <a class="list-group-item" href="#indicators">דף בית</a>
                  <a class="list-group-item" href="#info">מידע על המועדון</a>
                  <a class="list-group-item" href="#picbuilding">תמונות המועדון</a>
                  <a class="list-group-item" href="#picsportsmen">תמונות הספורטאים</a>
                  <a class="list-group-item" href="#achievements">הישגי הספורטאים</a>
                  <a class="list-group-item" href="#compboard">לוח תחרויות</a>
                  <a class="list-group-item" href="#contact">צור קשר</a>
                  <a class="list-group-item" href="#progress-bars">Progress bars</a>
                  <a class="list-group-item" href="#containers">Containers</a>
                  <a class="list-group-item" href="#dialogs">Dialogs</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
