
   <div class="container bootstrap snippet" style="margin-top:15vh;">

        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        
        <div class="col-md-10 col-sm-10 col-xs-10" style="padding:1px;">
             <div class="input-group input-group-lg" style="z-index: 0; position:relative; bottom:5px; width:100% !important; float:right;">
                 <span class="input-group-addon" id="sizing-addon1"><i class="material-icons" style="font-size:initial !important;">search</i></span>
              <input type="text" class="form-control" placeholder="חפש משתמשים..." aria-describedby="sizing-addon1" ng-model="searchText" style="direction:rtl; text-align:right;">
             </div>
             
             <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" style="float: right; border:outset; background-color:white; bottom: 10px; height: 25px; border-radius:1000px;">
                <label class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" for="sample6" style="top:6px !important;" id="srch">
                  <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder" style="bottom:5px;">
                  <input class="input_form" type="text" id="sample6" ng-model="searchText" style="color:black; direction:rtl; text-align:right; padding: 0px 3px !important;">
                  <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                </div>
              </div>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-0"></div>
        <div class="col-md-10 col-sm-10 col-xs-12" style="color:black;">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive" dir="rtl">
                        <table class="table user-list table-hover">
                            <thead>
                               <tr>
                                <th style="text-align:right"><span>משתמש</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="currentusr in users | orderBy:id | filter:searchText" data-toggle="modal" data-target="#postprof" ng-click="changePoster(currentusr.id)">
                                    <td>
                                        <img class="img-circle" ng-src="{{currentusr.profilepic}}" alt="">
                                        <a class="user-link">{{currentusr.firstName}} {{currentusr.lastName}}</a>
                                    </td>
                                    <td>
                                        <span class="user-subhead" style="color:#5A5A5A; font-size:15px;">
                                            <i class="material-icons" style="cursor:default;">{{currentusr.permdisp}}</i>
                                        </span>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-0"></div>

    </div>
</div>