
   <div class="container bootstrap snippet" style="margin-top:15vh;">

        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="md-form">
                <i class="fa fa-search prefix" style="float:right; position:relative;"></i>
                <input ng-model="searchText" type="text" id="form2" class="form-control" style="color:white;">
                <label for="form2">חיפוש משתמשים</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-md-8 col-sm-8 col-xs-8" style="color:black;">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive" dir="rtl">
                        <table class="table user-list table-hover">
                            <thead>
                                <tr>
                                <th style="text-align:right"><span>משתמש</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="currentusr in users | orderBy:id | filter:searchText" data-toggle="modal" data-target="#postprof" ng-click="changePoster(currentusr.id)">
                                    <td>
                                        <img class="img-circle" ng-src="{{currentusr.profilepic}}" alt="">
                                        <a class="user-link">{{currentusr.firstName}} {{currentusr.lastName}}</a>
                                        <span class="user-subhead">{{currentusr.permdisp}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2"></div>

    </div>
</div>