html {


}

body {
    background: url("/assets/images/judobg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color:white;
}

#slists {
    margin-bottom: 60px;
}

.log {
    width: 100%;
    /*background: url("/assets/images/building/building1.jpg") no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
    margin-top: 50px;
    opacity: 0.9;
}

.strech {
    margin-left: 70%;
    border-radius: 100px;
    margin-bottom: 690px;
}

.strech2 {
    border-radius: 100px;
    margin-bottom: 690px;
}

.pic {
}

.tbl {
    margin-top: 100px;
    margin-left: 600px;
    color: black;
    opacity: 0.8;
}

.jmap {
    margin-top: 100px;
    margin-left: 450px;
    color:black;
    opacity: 0.6;
}

.modal {
    color: black;
}

.panel-heading:before {
   content: none !important;
}

.panel-heading:after {
   content: none !important;
}

.boom {
    color: black;
    /*opacity: 0.8;*/
    margin-top: 50px;
}

.growch { transition: all .2s ease-in-out; }
.growch:hover { transform: scale(1.02); }



.notcard {
    opacity: 0.7;
}

#moveitright {
    float: left;
    color: white !important;
    font-size: 18px;
    padding-right: 20px;
    padding-top: 5px;
}

#wronglog {
    color: red;
}

#wrongreg {
    color: red;
}

.fullname {
    color: white;
}

.namepic {
    color: black;
}

.regbtnstyle {
    font-size: 18px;
}

.loginbtnstyle {
    font-size: 18px;
}

.picbtnstyle {
    font-size: 18px;
}

.msgbtnstyle {
    font-size: 18px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.picmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.picmodal-content {
    margin: auto;
    display: inline-block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: inline-block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.picmodal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#gallerym {
   /* margin-left: 180px;*/
    
}

.modal-footer {
}

/*.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    background-color: darkgray;
    opacity: 1;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/assets/images/loaders/preload.gif) center no-repeat #fff;
}*/

.close {
    color: black;
}

.myglry {
 /*   margin-right:3px;*/
    background-color:white;
    color:black;
    opacity: 0.9;
}
/*
.booms { transition: all .2s ease-in-out; }
.booms:hover { transform: scale(1.1); }
*/

.booms
{
    display:inline-block;
    position: relative;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1);
    transition: all 100ms ease-in;
    transform: scale(1);   

}
.mycomments {
    background-color: gray;
    opacity: 0.9;
}

.myinfoyus {
    /*margin-left: 70px;
    margin-right: 40%;*/
    opacity: 0.5;
}

.commentcls {
}

.mycomments {

}

.tlbs {
    background-color:white;
    color:black;
    padding: right;
}

.thumbnail {
    padding:0px;
}

.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:100%;
	right:-16px;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-left-color:#ddd;
	border-width:8px;
}

.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }





.main-box.no-header {
    padding-top: 20px;
}
.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: inline-block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    width:50px;
    height:50px;
    float: right;
    margin-left: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}













/********************************/
   @media only screen and (max-width : 540px) 
            {
                .chat-sidebar
                {
                    width: 200px !important;
                    position: fixed;
                    height: 100%;
                    right:0px;
                    top:51px;
                    padding-top:10px;
                    border: 1px solid rgba(29, 49, 91, .3);
                }
                
                .chat-popup
                {
                    position:fixed !important;
                    right:0px !important;
                    
                }
                
                .popup-box {
                    z-index: 10;
     /*               top: 50px;*/
                    display: block;
                    height: 300px !important;
                    width: 100% !important;
                }
                
                .col-md-12
                {
                    width:100%;
                }
            }
            
            body
            {
                background-color: #e9eaed;
            }
            
            .chat-sidebar
            {
                width: 200px;
                position: fixed;
                height: 100%;
                right: 0px;
                top: 51px;
                padding-top: 10px;
                padding-bottom: 10px;
                border: 1px solid rgba(29, 49, 91, .3);
                background: rgba(0, 0, 0, .6); /* fallback for old browsers */
            }
            
            .sidebar-name 
            {
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 4px;
                font-size: 12px;
            }
            
            .sidebar-name span
            {
                padding-left: 5px;
            }
            
            .sidebar-name a
            {
                display: inline-block;
                height: 100%;
                text-decoration: none;
                color: inherit;
            }
            
            .sidebar-name:hover
            {
                background-color:#808183;
            }
            
            .sidebar-name img
            {
                width: 32px;
                height: 32px;
                vertical-align:middle;
            }
            
            .popup-box
            {
                position: fixed;
                bottom: 0px;
                right: 220px;
                height: 300px;
                background-color: #4A4A4A;
                opacity: 1;
                width: 300px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .popup-box .popup-head
            {
                background-color: #2A2A2A;
                padding: 5px;
                color: white;
                font-weight: bold;
                font-size: 14px;
                clear: both;
            }
            
            .popup-box .popup-head .popup-head-left
            {
                float: left;
            }
            
            .popup-box .popup-head .popup-head-right
            {
                float: right;
                opacity: 1;
            }
            
            .popup-box .popup-head .popup-head-right a
            {
                text-decoration: none;
                color: inherit;
            }
            
            .popup-box .popup-messages
            {
                height: 100%;
                overflow-y: auto;
                overflow-x:hidden;
                max-height: 78%;
            }


285px



    .msg-list {
        width: 100%;
    }
    .messenger-container {
        padding: 8px 15px 8px 13px;
        margin: 0 0 8px 35px;
        float: left;
        max-width: 82%;
        background: #f2f2f2;
        border-radius: 10px;
        min-width: 20%;
        position: relative; box-sizing: border-box;
        box-shadow: 7px 6px 10px -3px #101010;
    }
    .messenger-container p {
       color: #3D3D3D;
        font-size: 12px;
        margin-bottom: 6px;
        line-height: 18px;
        word-wrap: break-word; margin: 0;
    }
    .sender .messenger-container {
        float: right;
        margin-right: 35px;
        width: auto;
        background: #D5DBFF;
        margin-left: 0px;
        padding: 8px 15px 8px 13px;
    }
    .clear {
        clear:both;
        width: 100%;
        padding: 0px !important;
        margin: 0px;
        height:0px;
    }
       .messenger-container::before {
           width: 0px;
           height: 0px;
           border-top: 8px solid transparent;
           border-bottom: 8px solid transparent; 

           border-right:15px solid #f2f2f2; 
           content: "";
           position: absolute;
           top: 9px;
           left: -15px;
       }
    .sender .messenger-container::before {
          width: 0px;
          height: 0px;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-left: 15px solid #D5DBFF;
          content: "";
          position: absolute;
          top: 9px;
          left: 99%;border-right: none;
   }